/* CSS Document */

@font-face {
  font-family:'klima-web';
	font-style:normal;
	font-variant:normal;
	font-weight:400;
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.eot');
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.eot?#iefix') format('embedded-opentype'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.svg#klima') format('svg'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.woff2') format('woff2'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.ttf') format('truetype');}

@font-face {
  font-family:'greve-web';
	font-style:normal;
	font-variant:normal;
	font-weight:700;
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/greve/greve-800-web.eot');
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/greve/greve-800-web.eot?#iefix') format('embedded-opentype'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/greve/greve-800-web.svg#greve') format('svg'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/greve/greve-800-web.woff2') format('woff2'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/greve/greve-800-web.ttf') format('truetype');}

@font-face {
  font-family:'katwijk-mono-web';
	font-style:normal;
	font-variant:normal;
	font-weight:500;
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.eot');
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.eot?#iefix') format('embedded-opentype'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.svg#katwijkmono') format('svg'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.woff2') format('woff2'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.ttf') format('truetype');}

@font-face {
  font-family:'katwijk-mono-web';
	font-style:normal;
	font-variant:normal;
	font-weight:800;
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-bold-web.eot');
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-bold-web.eot?#iefix') format('embedded-opentype'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-bold-web.svg#katwijkmonobold') format('svg'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-bold-web.woff2') format('woff2'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-bold-web.ttf') format('truetype');}
