<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<title><%= current_page.data.title %></title>
<%= stylesheet_link_tag "main", {media: false} %>
<meta name="description" content="<%= current_page.data.description %>" />
<meta property="og:locale" content="en_US">
<meta property="og:title" content="#ClimateStrike Poster & Flyer Generator">
<meta property="og:description" content="Make your own customizable, downloadable poster or flyer for your #climatestrike event.">
<meta property="og:site_name" content="Global Climate Strike → Sep.&nbsp;20–27">
<meta property="og:image" content="https://dbqvwi2zcv14h.cloudfront.net/images/strike-poster_generator-share_img.jpg">
<meta property="og:type" content="article">
<meta property="og:url" content="https://poster.globalclimatestrike.net">
<meta name="twitter:title" content="#ClimateStrike Poster & Flyer Generator">
<meta name="twitter:site:id" content="Global Climate Strike → Sep.&nbsp;20–27">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Make your own customizable, downloadable poster or flyer for your #climatestrike event.">
<meta name="twitter:image" content="https://dbqvwi2zcv14h.cloudfront.net/images/strike-poster_generator-share_img.jpg">
<meta name="twitter:url" content="https://poster.globalclimatestrike.net">
